@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #1d3461;
  --color-primary-dark: #0d2d55;
  --color-bg-light: #eef4ed;
  --color-bg-dark:#1d3461
  
}

@custom-variant dark (&:where(.dark, .dark *));

[data-theme="light"] {
  --gradient-start: #eef4ed;
  --gradient-end: #c9d6cc;
}

[data-theme="dark"] {
  --gradient-start: #1d3461;
  --gradient-end: #2a6f97;
}